In [2]:
import pandas as pd
import json

ZomatoData = pd.read_csv('zomato.csv',encoding= 'unicode_escape')
ZomatoData = ZomatoData.drop_duplicates().reset_index(drop=True)

In [10]:
TEMP = ZomatoData[ZomatoData['Average Cost for two'].between(300, 700)]

In [11]:
TEMP['Average Cost for two']

1       700
2       500
3       600
4       400
6       300
       ...
9341    450
9342    600
9343    350
9344    400
9346    600
Name: Average Cost for two, Length: 5218, dtype: int64